<ion-header>
  <ion-toolbar class="toolbar--teal">
    <ion-title>{{ mode === 'add' ? 'Add Emergency Message' : 'Edit Emergency Message' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Instructions</ion-label>
        <ion-textarea formControlName="instructions"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-footer class="ion-padding">
      <ion-button expand="block" class="teal-modal-btn" type="submit" [disabled]="form.invalid">
        {{ mode === 'add' ? 'Create' : 'Save' }}
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
