<ion-header>
  <ion-toolbar class="toolbar--teal">
    <ion-title>{{ mode === 'add' ? 'Add Emergency Message' : 'Edit Emergency Message' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <div class="avatar-section" aria-label="Profile picture">
        <div class="avatar-header">
          <div class="avatar-label">Profile Picture</div>
          <ion-button fill="clear" size="small" class="avatar-action" (click)="avatarInput.click()">
            Change
          </ion-button>
        </div>
        <div class="avatar-body">
          <img
            class="avatar-preview"
            [src]="avatarPreview || defaultAvatarUrl"
            alt="Profile picture preview">
          <ion-spinner *ngIf="isUploadingAvatar" name="crescent" class="avatar-spinner"></ion-spinner>
          <input
            #avatarInput
            type="file"
            accept="image/*"
            (change)="onAvatarSelected($event)"
            class="avatar-input" />
        </div>
        <ion-button
          *ngIf="avatarPreview"
          fill="outline"
          size="small"
          class="avatar-remove"
          (click)="removeAvatar()">
          Remove
        </ion-button>
      </div>

      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Emergency Contact Name</ion-label>
        <ion-input formControlName="emergencyContactName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Emergency Contact Phone</ion-label>
        <ion-input
          formControlName="emergencyContactPhone"
          type="text"
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="11"
          (ionInput)="onPhoneInput($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date of Birth</ion-label>
        <ion-input formControlName="dateOfBirth" type="date" [min]="minDate" [max]="maxDate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Blood Type (Optional)</ion-label>
        <ion-input formControlName="bloodType" placeholder="e.g. O+"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Instructions</ion-label>
        <ion-textarea formControlName="instructions"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-footer class="ion-padding">
      <ion-button expand="block" class="teal-modal-btn" type="submit" [disabled]="form.invalid || isUploadingAvatar">
        {{ mode === 'add' ? 'Create' : 'Save' }}
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
