<ion-header>
  <ion-toolbar class="teal-modal-toolbar">
    <ion-title>{{ mode === 'add' ? 'Add Emergency Message' : 'Edit Emergency Message' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Allergies</ion-label>
        <div class="chips-wrapper">
          <ion-chip *ngFor="let a of allergyLabels" color="success" size="small">
            <ion-label>{{ a }}</ion-label>
          </ion-chip>
          <p class="value no-data" *ngIf="allergyLabels.length === 0">None</p>
        </div>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Instructions</ion-label>
        <ion-textarea formControlName="instructions"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Location</ion-label>
        <ion-input formControlName="location"></ion-input>
      </ion-item>
    </ion-list>
    <ion-footer class="ion-padding">
      <ion-button expand="block" color="primary" type="submit" [disabled]="form.invalid">
        {{ mode === 'add' ? 'Create' : 'Save' }}
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
