ion-toolbar {
    --background: #036a5d;
    --color: white;
}

// Added styles for the notification page
.notification-bg {
  --background: #ffffff; /* force white content background */
  background: #ffffff;
}

.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* fill full viewport height */
  padding: 16px;
}

.reminder-card {
  background: #18574e;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 400px;
  //text-align: center;
}

.reminder-header {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  margin-bottom: 16px;
}

.reminder-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #ebf0ed;
}

.reminder-time {
  font-size: 0.875rem;
  color: #ffffff;
}

.reminder-text {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
}