.scanner-container {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
    background: #737e7c;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .button-row {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 16px;
  }

  .button-row ion-button {
    flex: 1;
    max-width: 140px;
  }

  .button-row .recent-scans-btn,
  .button-row .manual-input-btn {
    --background: #036a5d !important;
    --color: #fff !important;
  }

  .manual-input-btn,
  .recent-scans-btn {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    z-index: auto !important;; 
  }
  
  .scanner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 45%, rgba(255, 255, 255, 0.3) 50%, transparent 55%);
    animation: scan 2s linear infinite;
    z-index: 10;
  }
  .scanner-frame {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff;
    border-radius: 8px;
    margin: auto;
    width: 70%;
    height: 150px;
    background: #d9dcdb00;
  }
  .scanner-btn {
    margin: 12px;
    z-index: 15;
  }
  .pulse {
    animation: pulse 2s infinite;
  }
  @keyframes scan {
    0% { top: -100%; }
    100% { top: 100%; }
  }
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  ion-header ion-toolbar {
    --background: #036a5d !important;
    color: #fff !important;
  }
  ion-button#scanBtn {
    --background: #036a5d !important; 
    --color: #fff !important;
  }

  ion-card {
    background: #d1dbd7;
    border-radius: 10px;
    height: 425px;
    box-shadow: 0 4px 16px rgba(229, 94, 118, 0.10);
    border: 1px solid #10705f;
    margin: 15px 0;
    padding: 8px 0 8px 0;
  }
  

  ion-content {
    --background: #ffffff !important;
    color: #000 !important;
  }

  ion-card-title {
    color:#036a5d;
    font-weight: bold;
  }

