<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AllergyScan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="wrapper">
    <!-- Scan Section -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Scan Product Barcode</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="scanner-container">
          <ion-buttons slot="start" fill="clear" class="recent-scans" style="color: #fff;" (click)="viewRecentScans()">
            <ion-icon name="time-outline"></ion-icon>
          </ion-buttons>

          <ion-buttons slot="end" fill="clear" class="manual-input-btn" style="color: #fff;" (click)="openManualInputModal()">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-buttons>
          <div class="scanner-overlay"></div>
          <div class="scanner-frame">
            <ion-icon name="barcode-outline" style="font-size: 50px; color: #b3dfd9;"></ion-icon>
          </div>
          <ion-button id="scanBtn" class="pulse scanner-btn" (click)="startCameraScan()">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            Scan Barcode
          </ion-button>
        </div>
        <p class="ion-text-center ion-margin-top">
          Align the barcode within the frame to scan
        </p>

        <!-- Manual Barcode Component -->
        <app-manual-barcode 
          #manualBarcodeModal
          *ngIf="isManualInputModalOpen"
          (barcodeSubmitted)="onBarcodeSubmitted($any($event))"
          (close)="isManualInputModalOpen = false">
        </app-manual-barcode>

        <!-- Recent Scans Modal Component -->
        <app-recent-scans 
          #recentScansModal
          [recentScans]="recentScans"
          (scanSelected)="onRecentScanSelected($any($event))"
          (deleteScan)="confirmDeleteScan($event)"
          (clearScans)="clearRecentScans()"
          (close)="recentScansModal.onDismiss()">
        </app-recent-scans>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Scan Result Modal -->
  <app-scan-result
    #scanResultModal
    [productInfo]="productInfo"
    [allergenStatus]="allergenStatus"
    [ingredientsToWatch]="ingredientsToWatch">
  </app-scan-result>
</ion-content>

