ion-toolbar {
    --background: #013a33;
    --color: white;
  }

ion-content {
  --background: linear-gradient(0deg, #01463d 0%, #036a5d 100%) !important;
}

ion-list{
  background: transparent !important;
}

ion-item {
  --background: transparent !important;
  padding: 2.7px;
  color: white !important;
  font-weight: bold;
  border: 0.5px solid #068170;
}

ion-icon {
  color: white !important;
}
