ion-item{
  --background: #ffffff !important;
  color: #000 !important;
  border: 1px solid #036a5d;
  border-radius: 2px;
}

.manual-barcode-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.manual-barcode-modal-content {
  width: 80vw;
  max-width: 600px;
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ion-button#searchBtn {
    --background: #036a5d !important; 
    --color: #fff !important;
}

ion-button[fill="outline"] {
  --border-color: #036a5d !important;
  color: #036a5d !important;
}