
@import '../registration/registration.page.scss';

.verify-message {
	font-size: 1.1rem;
	margin-bottom: 6px;
}

.verify-email {
	font-size: 1.1rem;
	font-weight: 500;
	margin-bottom: 10px;
	word-break: break-all;
}

.verify-instructions {
	font-size: 1rem;
	margin-bottom: 18px;
}
